.ground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.content {
    width: 500px;
    height: auto;

    border: 1px solid black;
    border-radius: 20px;

    background: silver;
    padding: 30px;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 350px;
}

.image {
    max-width: 90%;
    max-height: 100%;
    border: 3px solid black;
    border-radius: 5px;
}

.manage {
    height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    margin: 0 5px 5px;
    line-height: 35px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid grey;
}

.customSize {
    width: 230px;
}

.contrast {
    margin-left: 5px;
    margin-right: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.settItem {
    margin: 5px 0;
}
